<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jobtrends.jobsurvey">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:name=".dagger.App"
                 android:allowBackup="true"
                 android:icon="@drawable/ic_logo_blue_512dp"
                 android:label="@string/app_name"
                 android:roundIcon="@drawable/ic_logo_blue_512dp"
                 android:supportsRtl="true"
                 android:theme="@style/theme">

        <activity android:name="jobtrends.jobsurvey.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="jobtrends.jobsurvey.activity.SignInActivity"/>

        <activity android:name="jobtrends.jobsurvey.activity.SignUpActivity"
                  android:theme="@style/theme_dark"/>

        <activity android:name="jobtrends.jobsurvey.activity.HomeActivity"/>

    </application>

</manifest>